
<div class="container shadow p-3 mb-5 bg-white rounded w-50">
    <h2 class="d-flex justify-content-center">Calculate your deposite</h2>
    <EditForm Model="@_requestModel" OnSubmit="SubmitForm">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">Choose a formula</label>
            <InputSelect @bind-Value="_requestModel.CalculationFormula" class="form-control">
                @foreach (var formula in Enum.GetValues(typeof(DepositeCalculationFormula)))
                {
                    <option value="@formula">@formula</option>
                }
            </InputSelect>
        </div>

        <div class="mb-3">
            <label class="form-label">Deposite Sum</label>
            <InputNumber @bind-Value="_requestModel.DepositeSum"
                         placeholder="deposite sum"
                         type="number" step=".01"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.DepositeSum)" />
        </div>
        <div class="mb-3">
            <label class="form-label">Month Count</label>
            <InputNumber @bind-Value="_requestModel.MonthsCount"
                         type="number"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.MonthsCount)" />
        </div>
        <div class="mb-3">
            <label class="form-label">Percents</label>
            <InputNumber @bind-Value="_requestModel.Percents"
                         type="number"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.Percents)" />

        </div>
        <button type="submit" disabled="@(!context.Validate() || !context.IsModified())" class="btn btn-primary btn-block">Calculate Deposite</button>
    </EditForm>
</div>