
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @_prevDisabledClass">
            <a class="page-link not-copyable" href="#" aria-label="Previous" @onclick="OnPrevClick" @onclick:preventDefault>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <li class="page-item @IsButtonActive(0) @_1DisabledClass">
            <a class="page-link not-copyable" href="#" @onclick="() => { OnPageSelected(0); }" @onclick:preventDefault>@(_pageOffset + 1)</a>
        </li>
        <li class="page-item @IsButtonActive(1) @_2DisabledClass">
            <a class="page-link not-copyable" href="#" @onclick="() => { OnPageSelected(1); }" @onclick:preventDefault>@(_pageOffset + 2)</a>
        </li>
        <li class="page-item @IsButtonActive(2) @_3DisabledClass">
            <a class="page-link not-copyable" href="#" @onclick="() => { OnPageSelected(2); }" @onclick:preventDefault>@(_pageOffset + 3)</a>
        </li>

        <li class="page-item @_nextDisabledClass">
            <a class="page-link not-copyable" href="#" aria-label="Next"  @onclick="OnNextClick" @onclick:preventDefault>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>