
<div class="container shadow p-3 mb-5 bg-white rounded w-50">
    <h2 class="d-flex justify-content-center">Calculate your deposit</h2>
    <EditForm Model="@_requestModel" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label for="calculationFormula" class="form-label">Choose a formula</label>
            <InputSelectEnum id="calculationFormula" @bind-Value="_requestModel.CalculationFormula" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="depositeSum" class="form-label">Deposite Sum</label>
            <InputNumber @bind-Value="_requestModel.DepositSum"
                         id="depositSum"
                         placeholder="deposite sum"
                         type="number"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.DepositSum)" />
        </div>
        <div class="mb-3">
            <label for="monthCount" class="form-label">Month Count</label>
            <InputNumber @bind-Value="_requestModel.MonthsCount"
                         id="monthCount"
                         type="number"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.MonthsCount)" />
        </div>
        <div class="mb-3">
            <label for="percents" class="form-label">Percents</label>
            <InputNumber @bind-Value="_requestModel.Percents"
                         id="percents"
                         type="number"
                         class="form-control" />
            <ValidationMessage For="@(() => _requestModel.Percents)" />

        </div>
        <button type="submit" disabled="@(!context.Validate() || !context.IsModified())" class="btn btn-primary btn-block">Calculate Deposit</button>
    </EditForm>
</div>