<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nickname</th>
            <th scope="col">Email</th>
            <th scope="col">Blocked</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < UsersViewList.Count; i++)
        {
            var element = UsersViewList[i];

            @if (Page == 1 && i == 0 || !element.IsEmailConfirmed)
            {
                <tr class="table-active">
                    <th scope="row">@((Page - 1) * UsersOnPage + (i + 1))</th>
                    <td>@element.Nickname</td>
                    <td>@element.Email</td>
                    <td>
                        <input disabled="disabled" type="checkbox" @bind="@element.IsBlocked">
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@((Page - 1) * UsersOnPage + (i + 1))</th>
                    <td>@element.Nickname</td>
                    <td>@element.Email</td>
                    <td>
                        <input type="checkbox" checked="@element.IsBlocked" @onchange="eventArgs => { OnUserBlockClicked(element.Id, (bool) eventArgs.Value); }">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>